{% extends 'base.html' %}

{% block content %}
<h1>Register your phone number here!</h1>

<form action="" method="POST">
    {{ regPhone.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ regPhone.username.label }}
            {{ regPhone.username(class="form-control",placeholder="Username") }}
        </fieldset>
        <fieldset>
            {{ regPhone.firstName.label }}
            {{ regPhone.firstName(class="form-control",placeholder="First Name") }}
        </fieldset>
        <fieldset>
            {{ regPhone.lastName.label }}
            {{ regPhone.lastName(class="form-control",placeholder="Last Name") }}
        </fieldset>
        <fieldset>
            {{ regPhone.phoneNum.label }}
            {{ regPhone.phoneNum(class="form-control",placeholder="0123456789") }}
        </fieldset>
        <fieldset>
            {{ regPhone.email.label }}
            {{ regPhone.email(class="form-control",placeholder="email@domain.com") }}
        </fieldset>
        <fieldset>
            {{ regPhone.address.label }}
            {{ regPhone.address(class="form-control",placeholder="123 Main st") }}
        </fieldset>
        <fieldset>
            {{ regPhone.city.label }}
            {{ regPhone.city(class="form-control",placeholder="City") }}
        </fieldset>
        <fieldset>
            {{ regPhone.state.label }}
            {{ regPhone.state(class="form-control",placeholder="State") }}
        </fieldset>
        <fieldset>
            {{ regPhone.password.label }}
            {{ regPhone.password(class="form-control",placeholder="Password") }}
        </fieldset>
        <fieldset>
            {{ regPhone.confirmPass.label }}
            {{ regPhone.confirmPass(class="form-control",placeholder="Confirm Password") }}
        </fieldset>
        {{ regPhone.submit(class="btn btn-success") }}
    </div>
</form>
{% endblock content %}